<section>
    <h2>Entre como participante</h2>
    <form id="form-enterRoom" action="/enterroom" method="POST">
        <label class="sr-only" for="room_id">Código da sala</label>
        <input name="roomId" type="number" id="room_id" placeholder="Código da sala" />
        <button id="btn-enterRoom" class="noDarkMode">
            <img src="./assets/enter-room.svg" alt="Entrar na Sala" class="noDarkMode" />
            Entrar na sala
        </button>
    </form>
</section>

<div class="separator">
    <hr class="noDarkMode" />
    <span>ou</span>
    <hr class="noDarkMode" />
</div>

<section>
    <h2>Crie sua própria sala</h2>
    <a href="/create-pass" class="button outlined">
        <img src="./assets/users.svg" alt="Criar Sala" /> Criar Sala
    </a>
</section>